body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 90%;
  max-width: 700px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}


input,
select {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: none;
  border-color: #667eea;
}

button {
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn {
  width: 100%;
  padding: 14px;
  background: #667eea;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.add-btn:hover {
  background: #5563d6;
}

.expense-list {
  margin-top: 25px;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f9ff;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 12px;
  border-left: 5px solid #667eea;
}

.expense-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.total-expense {
  margin-top: 20px;
  text-align: center;
  background: #667eea;
  color: white;
  padding: 15px;
  border-radius: 12px;
  font-size: 22px;
  font-weight: bold;
}

.empty-state {
  text-align: center;
  padding: 30px;
  color: gray;
  font-size: 18px;
}

.delete-btn {
  background: #ff4d4d;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
}

.delete-btn:hover {
  background: #e63939;
}

.empty-state {
  text-align: center;
  padding: 30px;
  color: gray;
  font-size: 18px;
}
.category-badge {
  background: #667eea;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  display: inline-block;
}